{% assign feed_path = "/feed.xml" %}
{% if site.feed and site.feed.path %}
  {% assign feed_path = site.feed.path %}
{% endif %}

<ul style="columns: 2; list-style-type: none; margin-left: 0;">
<li><a href="/whatis/">What is LAS?</a></li>
<li><a href="/vision/">Vision</a></li>
<li><a href="/sponsor/">Sponsor</a></li>
<li><a href="/cfp/">Call for papers</a></li>
<li><a href="/register/">Register</a></li>
<li><a href="/coc/">Code of Conduct</a></li>
</ul>
